<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yotaphone.yotadevices.com.widgetupdatehelper">

    <application>
        <service android:name="helper.update.widget.com.widgetupdatehelper.UpdateService" />
        <!--<service-->
            <!--android:name="helper.update.widget.com.widgetupdatehelper.JobUpdateService"-->
            <!--android:exported="false"-->
            <!--android:permission="android.permission.BIND_JOB_SERVICE" />-->
    </application>

</manifest>