<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="helper.update.widget.com.example">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver
            android:name=".single.ExampleSingleAppWidget"
            android:label="Single Example">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/example_app_widget_single_info" />
        </receiver>

        <service android:name="heyalex.widgethelper.UpdateService" />

        <receiver
            android:name=".common.ExampleCommonAppWidget"
            android:label="Common Example">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/example_app_widget_common_info" />
        </receiver>

    </application>
</manifest>